body {
    background-image: url(https://imgur.com/P2mURYz);
    /*全体フォント*/
    font-family: 
    "Hiragino Sans", 
    "Meiryo",
    sans-serif;
}
.kei{
    font-family: 
    "けいふぉんと", 
    "ヒラギノ角ゴシック"
    sans-serif;
}